* { box-sizing: border-box;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  div.contactLeft {display: none;}
  div.contactRight {display: none;}
  div.menu-left {display: none;}
  div.menu-right {display: none;}
}

.logo{
  width: 100%;
  max-height: 250px;
  object-fit: contain;
}

h1, h2, h3, h5 {
  font-family: Copperplate, Papyrus, fantasy;
  text-align: center;
  color: #8CA6A7;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 15px;
  background-color: black;
  color: #8CA6A7;
  cursor: pointer;
}

.about-img {
  padding: 10px;
  width: 50%;
  height: 350px;
  object-fit: contain;
  float: right;
}

.topnav {
  overflow: hidden;
  background-color: #8CA6A7;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #8CA6A7;
  color: black;
}

.topnav a.active {
  background-color: #8CA6A7;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

div.main{ /*used for text area*/
  width: 100%;
  color: #8CA6A7;
  h1 {text-align: center;}
  h2 {text-align: center;}
  p {text-align: center;}
}

.imgMain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 350px;
  width: 100%;
  object-fit: contain;
}

.imgMenu {
  width: 100%; 
  height: auto;
  object-fit: contain;
}

.button {
  font-family: "Trebuchet MS", Helvetica, sans-serif;;
  background-color: #8CA6A7; 
  border: none;
  color: black;
  width: 50%;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonConRes {
  font-family: "Trebuchet MS", Helvetica, sans-serif;;
  background-color: #8CA6A7; 
  border: none;
  color: black;
  width: 50%;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
}

.buttonConMenu {
  font-family: "Trebuchet MS", Helvetica, sans-serif;;
  background-color: #8CA6A7; 
  border: none;
  color: black;
  width: 50%;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: left;
}

.buttonMenu {
  width: 25%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;;
  background-color: #8CA6A7; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}

/*styling for all links on page*/

/*unvisited link*/
.button a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/*mouse over link and color will change*/
a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

/*selected link*/
a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/*styling the footer across all pages*/
.footer-left{ 
  color: #8CA6A7;
  text-align: center;
}

/*styling the footer across all pages*/
.footer-mid{ 
  color: #8CA6A7;
  text-align: center;
}

/*styling the footer across all pages*/
.footer-right{ 
  color: #8CA6A7;
  text-align: center;
}

/* Style all font awesome icons */
.fa {
  font-size: 500px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect for links */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: none;
  color: white;
}

/*YouTube*/
.fa-youtube {
  background: none;
  color: white;
}

/*Instagram*/
.fa-instagram {
  background: none;
  color: white;
}

.menu-main{ 
  h1 {text-align: center;}
  p {text-align: center;}
}

.imgMenu {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
}

/*table properties for menu - listed seperatly if changes need to be made*/
.appetizers {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  background-color: #8CA6A7;
  color: black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*table properties for menu*/
.mains {
  border: 1px solid;
  text-align: center;
  background-color: #8CA6A7;
  color: black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*table properties for menu*/
.desserts {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  background-color: #8CA6A7;
  color: black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*table properties for menu*/
.red-wine {
  border: 1px solid;
  text-align: center;
  background-color: #8CA6A7;
  color: black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*table properties for menu*/
.white-wine {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  background-color: #8CA6A7;
  color: black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*table properties for menu*/
.beer {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  background-color: #c8b8d8;
  color: black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*table properties for menu*/
.non-alcohol {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  background-color: #8CA6A7;
  color: black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*centering images on local cuisine page*/
.center {
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Container needed to position the overlay. Adjust the width as needed - for local cuisine images */
.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive - this is for the local cuisine images */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image - for local cuisine images */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #8CA6A7;
}

/* When you mouse over the container, fade in the overlay title - for local cuisine images */
.container:hover .overlay {opacity: 1;}

/* text for local cuisine images*/
.text {
  color: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-map {
  align-items: center;
  color: #8CA6A7;
}




